﻿@using Ciber.Services.Customers;
@using Ciber.Services.Products;
@model Ciber.Models.Entities.Order
@inject IProductService productService
@inject ICustomerService customerService
@{
    ViewData["Title"] = "Create";
    var products = await productService.GetAll();
    var customers = await customerService.GetAll();
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label">Product</label>
                <select class="form-select" aria-label="Default select example" asp-for="ProductId" asp-items="@(new SelectList(products,"Id","Name"))">
                    <option selected>Open this select product</option>

                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Customer</label>
                <select class="form-select" aria-label="Default select example" asp-for="CustomerId" asp-items="@(new SelectList(customers,"Id","Name"))">
                    <option selected>Open this select customer</option>

                </select>
            </div>
           
            <div class="form-group mb-3">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
