﻿@using Ciber.Models.Entities;
@using Ciber.ViewModels.BaseEntityVms;
@model PagedVm<Order>

@{
    ViewData["Title"] = "Index";
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-controller="Order" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.ProductSort })
            </th>
            <th>
                @Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.CategorySort })
            </th>
            <th>
                @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.CustomerSort })
            </th>
             <th>
                OrderDate
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        @{
                            string url = "#";
                            if (Model.PageIndex > 1)
                            {
                                url = $"/order/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" href="@url" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            url = $"/order/index?keyword={keyword}&&pageIndex={i}";
                            var active = Model.PageIndex == i ? "active" : "";
                            <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                        }
                        <li class="page-item">
                            @{
                                if (Model.PageIndex < Model.TotalPage)
                                {
                                    url = $"/order/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                }
                            }
                            <a class="page-link" href="@url" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
